<div class="jumbotron">
  <h1>Offerlicious</h1>
  <p class="lead">Offerlicious is a community for job seekers to practice interview questions with your interview buddies!</p>
	<p class="lead">
	    <%= link_to 'Learn More', questions_path, class: "btn btn-lg btn-primary" %>
	</p>
</div>